.page-id-7 .shopping-cart-header.add-header-height {
    display: none
}
.gform_wrapper .gform_validation_errors>h2,
.gform_wrapper .gform_validation_errors>h2.hide_summary,
.gform_validation_errors>h2{
	line-height: 1 !important;
}
.display_none{display:none;}
.mk-fancy-title.color-single span,
.mk-fancy-title.color-single p {
    color: inherit
}
 .parentHolder .height-full.column_container{
 	height: auto!important;
 }
.rowHeightA{
 	height: auto!important;
 }
.bw-bg .background-layer {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}
.img-upper-text{
/* 	height: 500px; */
/*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
	 position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}
.img-upper-text h2{
	font-size: 52px !important;
    color: #fff !important;
    font-weight: 300;
    text-transform: none;
	line-height: 1.2;
}
.img-upper-text p{
	font-size: 30px;
    color: #fff;
	line-height: 1.2;
}
.img-upper-text button{
	padding: 15px;
    background: #4a7d95;
    border: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    max-width: 250px;
	min-width: 250px;
}
/* Header css start here  */
.Headercart i{
    font-size: 20px !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.headerLogo-row #menu-top-bar-menu .menu-item:nth-child(2) a{
   border-left: 2px solid #72b5cf;
   border-right: 2px solid #72b5cf;
}
.headerLogo-row #menu-top-bar-menu .menu-item:nth-child(3) a{
    border-right: 2px solid #72b5cf;
 }
.cartCol {
   width: 70px!important;
 }
.uabb-creative-menu #menu-header-menu .uabb-menu-toggle::before {
   content: "\f0da";
	opacity: 0.8;
}
/* Header css end here  */
.uabb-adv-accordion-button-label, .uabb-adv-accordion-button  {
	outline: none!important;
	border: none;
}

/* Gallery Css start here  */

.galleryMainPage .uabb-infobox-title {
    background-color: #678fa4;
    text-align: center;
    padding: 10px;
}
.galleryMainPage .uabb-infobox-content {
    position: relative; 
}
.galleryMainPage  .uabb-infobox-title-wrap {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 100%;
}
.imageHolder .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 510px;
    position: relative;
}
.galleryRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px!important;
    width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
}
.galleryRow > .ImageWrapper {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    padding: 25px 20px;
    flex-direction: column;
}



.imageHolder .img-responsive .popup-overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.imageHolder .img-responsive img {
    display: none;
    margin: 0 auto;
}
.galleryRow > .ImageWrapper .viewFlooring {
    background-color: #678fa4;
    color: #fff;
    text-align: right;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;    
    width: 100%;
    z-index: +1;
	font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 22px;
}
.galleryRow > .ImageWrapper .viewFlooring a:after{
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    margin-left: 14px;
}
.galleryRow > .ImageWrapper .viewFlooring a{
	height: 100%;
    padding: 14px;
    display: block;
    text-align: right;
	color: #fff;
}

.imageHolder > div, #imageHolder>div img {
    width: 100%!important;
    height: 100%!important;
    max-width: 510px!important;
    max-height: 510px!important;
}
.imageHolder {
    position: relative;
/*     overflow: hidden; */
}
.popup-imgs-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: #fff;
}
/* Gallery Css end here  */
@media (min-width: 820px) {
    #theme-page .inline-buttons .wpb_wrapper {
        display: table;
        margin: 0 auto
    }
	.mk-sticky-logo {
		max-width: 380px !important;
	}

    #theme-page .inline-buttons .mk-button-container.text-center {
        float: left;
        clear: none;
        padding: 0 10px
    }
}


@media (max-width: 819px) {
    #theme-page .inline-buttons .wpb_wrapper .mk-button-container.text-center {
        margin-bottom: 20px
    }
}

.p-warning p {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 0 13px;
    margin: 0 auto
}

#theme-page .d-flex {
    display: flex
}

.display-none {
    display: none
}

#theme-page .flex-d-column {
    flex-direction: column
}

#theme-page .justify-content-center {
    justify-content: center
}

.p-dark p {
    color: #000
}

#theme-page .p-light p,
#theme-page .p-light h3 {
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: .015em
}

#theme-page .p-light h3 {
    color: #fff
}

#theme-page .p-light p strong {
    color: #fff
}

.p-400 p {
    font-weight: 400
}

.p-18 p {
    font-size: 18px
}

.p-20 p {
    font-size: 20px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.mt-70 {
    margin-top: 70px
}

.mb-70 {
    margin-bottom: 70px
}

.coming-soon-logo-1 img {
    max-width: 320px
}

.coming-soon-logo-2 img {
    max-width: 370px
}

.mk-button .mk-button--text {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 120%
}

.menu-hover-style-5 .main-navigation-ul>li.menu-item>a.menu-item-link:after {
    margin-top: 2px !important;
    background-color: rgba(98, 142, 165, 0.22) !important
}

.add-cart-responsive-state .mk-header-cart-count {
    background: #5c90a6
}

@media handheld,
only screen and (max-width: 960px) {
    .page-id-48 .theme-page-wrapper:not(.full-width-layout) {
        padding: 0
    }
}

@media handheld,
only screen and (max-width: 400px) {
    .page-id-48 .home-image-grid-wrap .mk-padding-wrapper {
        padding: 0 0px
    }

    .page-id-48 .home-image-grid-wrap .mk-padding-wrapper .vc_col-sm-12 {
        padding-left: 0;
        padding-right: 0
    }
}

@media only screen and (max-width: 1024px) and (min-device-width: 320px) {
    .page-id-48 .mk-page-section.home-banner-section {
        background-position: unset !important;
        background-attachment: scroll !important;
        background-position-y: calc(100% - 9%) !important;
        background-position-x: calc(100% - -150px) !important
    }
}

@media handheld,
only screen and (max-width: 1000px) {
    .page-id-48 .mk-page-section:not(.full_layout) .mk-page-section-inner {
        width: 100%;
        height: 500px
    }

    .page-id-48 .mk-half-layout {
        width: 100%;
        height: 600px
    }

    .page-id-48 .mk-half-layout-container {
        width: auto !important;
        margin: 0;
        padding-top: 620px !important;
        padding-left: 20px;
        padding-right: 20px;
        float: none !important
    }
}

@media handheld,
only screen and (max-width: 400px) {
    .page-id-48 .mk-half-layout-container {
        width: auto !important;
        margin: 0;
        padding-top: 500px !important
    }

    .page-id-48 .mk-half-layout {
        width: 100%;
        height: 500px
    }
}

.home-brand-image .mk-image-holder img {
    max-width: 300px
}

.home-banner-background {
    height: 1190px;
    position: absolute;
    left: 0;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-size: cover
}

@media screen and (min-width: 1901px) {
    .home-banner-background {
        background-position-y: calc(100% - 41%)
    }
}

@media screen and (max-width: 1900px) and (min-width: 1801px) {
    .home-banner-background {
        background-position-y: calc(100% - 40%)
    }
}

@media screen and (max-width: 1800px) and (min-width: 1701px) {
    .home-banner-background {
        background-position-y: calc(100% - 40%)
    }
}

@media screen and (max-width: 1700px) and (min-width: 1601px) {
    .home-banner-background {
        background-position-y: calc(100% - 40%)
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .home-banner-background {
        background-position-y: calc(100% - 40%)
    }
}

@media screen and (max-width: 1400px) {
    .home-banner-background {
        background-size: unset;
        background-position-y: calc(100% - 40%);
        background-position-x: calc(100% - -150px)
    }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
    .home-banner-background {
        background-position-y: calc(100% - 50%)
    }
}

@media screen and (max-width: 901px) and (min-width: 800px) {
    .home-banner-background {
        background-position-y: calc(100% - 60%)
    }
}

@media screen and (max-width: 801px) and (min-width: 700px) {
    .home-banner-background {
        background-position-y: calc(100% - 70%)
    }
}

@media screen and (max-width: 701px) and (min-width: 600px) {
    .home-banner-background {
        background-position-y: calc(100% - 70%)
    }
}

@media screen and (max-width: 601px) and (min-width: 500px) {
    .home-banner-background {
        background-position-y: calc(100% - 90%)
    }
}

@media screen and (max-width: 501px) and (min-width: 400px) {
    .home-banner-background {
        background-position-y: calc(100% - 120%)
    }
}

@media screen and (max-width: 401px) and (min-width: 300px) {
    .home-banner-background {
        background-position-y: calc(100% - 340%);
        height: 1600px
    }
}

.home-banner-section {
    background-repeat: no-repeat;
    background-size: cover
}

.home-banner-section .home-banner-row-below-waterline .mk-text-block {
    max-width: 840px;
    margin: 0 auto
}

@media screen and (min-width: 1901px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

@media screen and (max-width: 1900px) and (min-width: 1801px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

@media screen and (max-width: 1800px) and (min-width: 1701px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

@media screen and (max-width: 1700px) and (min-width: 1601px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

@media screen and (max-width: 1400px) {
    .home-banner-section .home-banner-row-below-waterline {
        padding-top: 200px
    }
}

.home-banner-section .mk-button {
    background-color: rgba(255, 255, 255, 0.37)
}

.home-blue-section .mk-image-holder img {
    max-width: 130px;
    padding-bottom: 10px
}

@media screen and (min-width: 1101px) {
    .home-blue-section .show-at-1100 {
        display: none
    }

    .home-blue-section .hide-at-1100 {
        display: block
    }
}

@media screen and (max-width: 1100px) {
    .home-blue-section .show-at-1100 {
        display: block
    }

    .home-blue-section .hide-at-1100 {
        display: none
    }
}

@media screen and (max-width: 1099px) and (min-width: 768px) {
    .home-blue-section .show-at-767 {
        display: none
    }

}

@media screen and (max-width: 767px) {
    .home-blue-section .hide-at-767 {
        display: none
    }

    .home-blue-section .show-at-767 {
        display: block
    }
}

@media screen and (min-width: 1101px) {
    .home-blue-section .mk-product-loop .product-loop-thumb,
	.singlepostd.mk-product-loop .product-loop-thumb{
        height: 270px;
        overflow: hidden
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
    .home-blue-section .mk-product-loop .product-loop-thumb,
	.singlepostd.mk-product-loop .product-loop-thumb{
        height: 34vw
    }

    .home-blue-section .mk-product-loop .product-loop-thumb .mk-product-loop .mk--col--3-12,
	.singlepostd.mk-product-loop .product-loop-thumb .mk-product-loop .mk--col--3-12{
        width: 25% !important
    }
}

@media screen and (max-width: 767px) and (min-width: 701px) {
    .home-blue-section .mk-product-loop .product-loop-thumb,
	.singlepostd.mk-product-loop .product-loop-thumb{
        height: 350px
    }
}

@media screen and (max-width: 700px) and (min-width: 601px) {
    .home-blue-section .mk-product-loop .product-loop-thumb,
	.singlepostd.mk-product-loop .product-loop-thumb{
        height: 300px
    }
}

.home-blue-section a {
    color: #fff;
    font-weight: 400
}

.home-blue-section .mk-product-loop.compact-layout .mk-product-holder,
.singlepostd.mk-product-loop.compact-layout .mk-product-holder{
    border: 0
}

.home-blue-section .mk-product-loop.compact-layout .product-title a,
.singlepostd.mk-product-loop.compact-layout .product-title a{
    color: #fff
}

.home-blue-section .mk-product-loop.compact-layout .mk-shop-item-detail,
.singlepostd.mk-product-loop.compact-layout .mk-shop-item-detail{ 
    text-align: center;
    padding: 15px 5px
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc,
.singlepostd.mk-product-loop.compact-layout .product-item-desc{
    padding: 0;
    display: inline
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p,
.singlepostd.mk-product-loop.compact-layout .product-item-desc p{
    color: #fff
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p:first-of-type,
.singlepostd.mk-product-loop.compact-layout .product-item-desc p:first-of-type{
    display: inline-block;
    margin-bottom: 10px
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2),
.singlepostd.mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2){
    text-align: center !important;
    margin-bottom: 0
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) em,
.singlepostd.mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) em{
    font-size: 15px
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3),
.singlepostd.mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3){
    display: none
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p,
.singlepostd.mk-product-loop.compact-layout .product-item-desc p{
    font-size: 15px
}

.home-blue-section .mk-product-loop.compact-layout .product-item-desc p>strong,
.singlepostd.mk-product-loop.compact-layout .product-item-desc p>strong{
    color: #fff
}

.home-blue-section .mk-product-loop.compact-layout .product-title,
.singlepostd.mk-product-loop.compact-layout .product-title{
    font-size: 14px !important;
    line-height: 18px;
    padding-right: 0;
    margin-bottom: 5px;
    letter-spacing: 0;
    display: inline;
    border-right: 1px solid #fff;
    color: #fff;
    padding-right: 3px;
    margin-right: 6px;
    font-weight: 300;
    text-transform: none
}

.home-blue-section .mk-product-loop.compact-layout .mk-shop-item-detail,
.singlepostd.mk-product-loop.compact-layout .mk-shop-item-detail{
    background-color: #4a7d95
}

.home-diagram-section {
    margin-top: 60px;
    margin-bottom: 30px
}

@media screen and (min-width: 480px) {
    .home-diagram-section {
        margin-bottom: 80px
    }
}

@media screen and (max-width: 400px) {
    .home-diagram-section {
        margin-top: 0
    }

    .home-diagram-section .vc_col-sm-12 {
        padding-left: 0;
        padding-right: 0
    }

    .home-diagram-section .vc_column-inner {
        padding: 0px
    }
}

.home-diagram-section .mk-half-layout {
    background-position: left center;
    background-size: contain;
    -webkit-background-size: contain;
    background-repeat: no-repeat
}

.home-diagram-section ol {
    margin-left: 1em
}

.home-diagram-section img {
    height: 90px;
    width: auto
}

.home-diagram-section img:nth-child(1) {
    padding-right: 5px
}

.home-diagram-section img:nth-child(2) {
    padding-right: 15px
}

@media screen and (max-width: 450px) {
    .home-diagram-section img {
        height: 70px;
        width: auto;
        margin: 0 auto;
        padding-bottom: 11px
    }
}

.home-after-diagram-section .wpb_row.vc_inner.vc_row.vc_row-fluid {
    max-width: 900px;
    margin: 0px auto !important
}

.rt-custom-list-2-col .wpb_row.vc_inner.vc_row.vc_row-fluid {
    max-width: 600px;
    margin: 0px auto !important
}

.home-image-grid-wrap .box-holder::after,
.home-image-grid-wrap .hover-effect-image.image-effect-blur .box-holder::before {
    background-size: cover
}

@media screen and (max-width: 1024px) {
	.imageHolder .img-responsive {
		min-height: 450px;
	}
    .Headercart .fl-module-content {
        margin: 20px 10px;
    }
    .Headercart .fl-module-content p {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 992px) {
	.imageHolder .img-responsive {
		min-height: 435px;
	}
}

@media screen and (max-width: 780px) {
    .home-image-grid-wrap #box-59 .box-holder {
        padding: 30px 20px !important
    }
	.galleryRow > .ImageWrapper {
		max-width: 480px;
    	margin: 0 auto;
	}
	.imageHolder .img-responsive {
		min-height: 440px;
	}
}
@media screen and (max-width: 500px) {
	.imageHolder .img-responsive {
		min-height: 300px;
	}
	.galleryRow > .ImageWrapper {
    	max-width: 300px;
		margin: 0 auto;
	}
	.galleryRow > .ImageWrapper {
		padding: 20px 0px!important;
	}
}

@media screen and (max-width: 480px) {

    .home-image-grid-wrap #box-51 .box-holder,
    .home-image-grid-wrap #box-54 .box-holder,
    .home-image-grid-wrap #box-57 .box-holder,
    .home-image-grid-wrap #box-58 .box-holder,
    .home-image-grid-wrap #box-59 .box-holder {
        min-height: 250px !important
    }

    .home-image-grid-wrap .wpb_column.vc_column_container.vc_col-sm-3:last-of-type .wpb_wrapper {
        display: flex;
        flex-direction: column-reverse
    }
}

.home-image-grid-wrap .vc_separator.vc_sep_pos_align_center {
    margin-bottom: 70px
}

@media screen and (max-width: 700px) {
    .home-image-grid-wrap .vc_separator.vc_sep_pos_align_center h4 {
        margin: 0 auto;
        text-align: center
    }

    .home-image-grid-wrap .vc_separator.vc_sep_pos_align_center .vc_sep_holder {
        display: none
    }
}

.home-image-grid p {
    line-height: 1.7em
}

.home .vc_separator.vc_sep_pos_align_center h4 {
    /* font-size: 32px; */
    color: #cecece;
    font-weight: 300;
    text-transform: none;
    /* font-family: 'Ubuntu' */
}

.vc_separator.vc_sep_pos_align_center.custom-div-h4 h4 {
    /* font-size: 32px; */
    color: #71b2c9;
    font-weight: 300;
    text-transform: none;
    /* font-family: 'Ubuntu' */
}
.btn-border a.mk-button {
    border-color: #71b2c9 !important;
} 
.btn-borderBB{
    border: 2px solid #71b2c9 !important;
}

.footer-row .gform_footer.top_label input.gform_button.button {
    background: #3e4045 !important;
    font-weight: 400;
}
.footer-row .gform_footer.top_label input.gform_button.button:hover {
    background: #fff !important;
}
.woocommerce div.product form.cart .button, .gform_footer.top_label input.gform_button.button, table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.actions button.button, .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward{
    background: transparent !important;
    color: #71b2c9;
    border: 2px solid #71b2c9;
}
.woocommerce div.product form.cart .button:hover, .gform_footer.top_label input.gform_button.button:hover, table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td.actions button.button:hover, .wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward:hover {
    background: #71b2c9 !important;
    color: #fff;
    border: 2px solid #71b2c9;
}
.vc_separator.vc_separator_align_left.custom-div-h4 h4 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 300;
    text-transform: none;
    /* font-family: 'Ubuntu'; */
    background-color: #a0bcc8;
    padding: 10px 20px
}

.vc_separator.vc_separator_align_center.custom-div-h4.custom-div-h4-small h4 {
    font-size: 22px;
    font-weight: 400
}

.rt-internal-banner {
    border-bottom: 1px solid #427b92
}

.woocommerce-Tabs-panel a strong {
    color: #4a7d95 !important;
    border-bottom: 1px dotted
}

.woocommerce-product-details__custom-description img {
    width: 200px;
    display: inline-block;
    margin-bottom: 5px
}

.single-product .pswp__caption {
    display: none
}

.single-product .variations tbody tr td.value #pa_number-of-free-samples+a.reset_variations {
    position: static !important
}

.woocommerce-Tabs-panel a:hover {
    color: #4a7d95
}

ul.ul-em-dash {
    list-style-type: none
}

ul.ul-em-dash li:before {
    content: "— ";
    font-weight: 600
}

h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-installation-maintenance {
    display: none
}

h2.yikes-custom-woo-tab-title.yikes-custom-woo-tab-title-cleaning-warranty {
    display: none !important
}

#mk-breadcrumbs .mk-breadcrumbs-inner {
    float: none;
    margin: 0 0px 0px 0 !important;
    display: block
}

div#mk-breadcrumbs {
    display: inline-block;
    position: relative;
    top: 0px
}

.page-title {
    margin: 25px 20px 5px;
    color: #484848;
    display: inline-block
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a {
    color: #4a7d95
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin a:hover {
    color: #4a7d95
}

#mk-breadcrumbs .mk-breadcrumbs-inner.light-skin {
    color: #63a6c5
}

#mk-page-introduce {
    background-color: #f5f9fb
}

.woocommerce div.product .woocommerce-tabs {
    padding-top: 30px
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    max-height: 50px
}

.single-product #theme-page .theme-page-wrapper .theme-content {
    padding: 50px 20px
}

.mk-header {
    border-bottom: 0px
}

.woocommerce-Tabs-panel {
    border-bottom: 2px solid #eee
}

div#tab-additional_information h2 {
    font-size: 32px !important;
    /* font-family: 'Ubuntu'; */
    font-weight: 300;
    text-transform: none
}

.woocommerce-product-details__short-description p {
    line-height: 1.95em;
    letter-spacing: 0.015em
}

.product_meta span.posted_in {
    font-weight: 5200;
    font-size: 14px
}

.social-share svg {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px)
}

.product_meta span.posted_in a {
    font-size: 14px;
    color: #4a7d95
}

.woocommerce #mk-sidebar .widget a,
.woocommerce #mk-sidebar .widget span.count {
    color: #4c4c4c
}

.single-product .summary.entry-summary .mk-love-holder {
    float: right;
    top: 30px;
    position: relative
}

.single-product .mk-love-this span {
    color: #353535;
    font-size: 14px
}

.single-product .entry-summary .price {
    display: block
}

div.product_cat-free-samples .entry-summary .price {
    display: none
}

.single-product .product h1.product_title.entry-title {
    float: left;
    /* font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 40px !important; */
    margin: 0;
    
}
.woocommerce-product-details__custom-description p {
    /* font-family: Source Sans Pro !important;
    font-size: 24px;
    line-height: 1.3em; */
    color: #000;
}
.woocommerce table.shop_attributes td p{
    color: #000;
    font-weight: 400;
    font-style: normal;
}
.woocommerce table.shop_attributes th, .woocommerce table.shop_attributes td {
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid rgba(0,0,0,.1);
    text-align: left;
}
.single-product .woocommerce-Tabs-panel.woocommerce-Tabs-panel--cleaning-warranty.panel.entry-content.wc-tab {
    font-size: 16px
}
.master-holder h3{
    /* color: #679ebd; */
    font-size: 26px;
}
.woocommerce-product-details__short-description {
    margin: 0;
}
.woocommerce .products.related {
    margin-top: 80px
}
h1, h1.mk-fancy-title{ 
    font-size: 42px !important;
    font-weight: 300 !important;
}
h2, h2.mk-fancy-title {
    font-size: 40px !important;
}
h1.mk-fancy-title, h2.mk-fancy-title,  h3.mk-fancy-title,  h4.mk-fancy-title{ 
    color: #71b2c9 !important;
}
#theme-page .related.products h2 {
    font-size: 16px !important;
    color: #404040;
    font-weight: 700;
    text-transform: uppercase
}

.single-product .entry-summary .entry-title,
.single-product .entry-summary .title {
    font-size: 55px !important;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: none
}

.wc-tabs li a {
    font-size: 18px;
    text-transform: none;
    letter-spacing: 0.025em
}

.woocommerce .button.single_add_to_cart_button {
    background-position: 14px 11px;
    background-size: 16px;
    padding: 14px 20px 14px 20px !important
}

.woocommerce-product-details__custom-description {
    padding-bottom: 30px
}

.single-product .product_cat-free-samples .woocommerce-product-details__custom-description p:last-of-type {
    padding-top: 6px;
    margin-bottom: -20px;
    padding-bottom: 5px;
    z-index: 999999;
    font-size: 16px;
    font-weight: 400
}

span.sku_wrapper {
    display: none
}

.woocommerce-variation-add-to-cart .quantity.buttons_added {
    display: none !important
}

.woocommerce .button.single_add_to_cart_button {
    background-image: url("")
}

.woocommerce .button.single_add_to_cart_button:before {
    font-family: 'FontAwesome';
    content: "\f067";
    padding-right: 10px
}

.mk-woocommerce-carousel .mk-button-container i>svg {
    display: none
}

.mk-woocommerce-carousel .mk-button-container i:after {
    font-family: 'FontAwesome';
    content: "\f067";
    font-style: normal
}

.mk-product-loop .product-item-footer a>svg {
    display: none
}

.mk-product-loop .product-item-footer a:before {
    font-family: 'FontAwesome';
    content: "\f067";
    padding-right: 10px
}

.woocommerce-page .mk-product-loop.compact-layout .mk-product-holder {
    border: 0
}

.woocommerce-page .mk-product-loop.compact-layout .product-title a {
    color: #fff
}

.woocommerce-page .mk-shop-item-detail {
    text-align: center
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc {
    padding: 0;
    display: inline
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p {
    color: #fff
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p:first-of-type {
    display: inline-block;
    margin-bottom: 10px
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) {
    text-align: center !important;
    margin-bottom: 0
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p:nth-of-type(2) em {
    font-size: 15px
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p:nth-child(n+3) {
    display: none
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p {
    font-size: 15px
}

.woocommerce-page .mk-product-loop.compact-layout .product-item-desc p>strong {
    color: #fff
}

.woocommerce-page .mk-product-loop.compact-layout .product-title {
    font-size: 14px !important;
    line-height: 18px;
    padding-right: 7px;
    margin-bottom: 5px;
    letter-spacing: 0;
    display: inline;
    border-right: 1px solid #fff;
    color: #fff;
    margin-right: 6px;
    font-weight: 300;
    text-transform: none
}

.woocommerce-page .mk-product-loop.compact-layout .mk-shop-item-detail {
    background-color: #4a7d95
}

.uabb-woo-products-summary-wrap, .product-layout .fl-post-grid-text {
    background: #4a7d95;
}
.uabb-woocommerce .uabb-woo-product-category{
    opacity: 1 !important;
}
.uabb-woo-products-description p em {
    font-style: normal;
    color: #fff;
}
.static-breadcrums .fl-rich-text p {
    margin: 0;
}
ul.flooring-benefits-tabs {
    padding: 0;
    margin: 0;
}
ul.flooring-benefits-tabs li {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
    border-bottom: 1px solid #ccc;
}

ul.flooring-benefits-tabs li span.yes {
    color: #88a268 !important;
    width: 70px;
    display: inline-block;
    font-weight: 600 !important;
}
ul.flooring-benefits-tabs li span.no {
    color: #d8706d !important;
    width: 70px;
    display: inline-block;
    font-weight: 600 !important;
}
ul.flooring-benefits-tabs li span.some {
    color: #e7b83c !important;
    width: 70px;
    display: inline-block;
    font-weight: 600 !important;
}
.fl-slide.fl-slide-0.fl-slide-text-center .fl-slide-content {
    background: none !important;
    padding: 0;
}

@media screen and (min-width: 1001px) {
    .woocommerce-page .mk-product-loop .product-loop-thumb {
        height: 360px;
        overflow: hidden
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .woocommerce-page .mk-product-loop .product-loop-thumb {
        height: 320px;
        overflow: hidden
    }
}

@media screen and (max-width: 800px) and (min-width: 768px) {
    .woocommerce-page .mk-product-loop .product-loop-thumb {
        height: 260px;
        overflow: hidden
    }
}

@media screen and (max-width: 767px) {
    .woocommerce-page .mk-product-loop .product-loop-thumb {
        height: 360px;
        overflow: hidden
    }
}

@media screen and (max-width: 600px) {
    .woocommerce-page .mk-product-loop .product-loop-thumb {
        height: auto
    }
	
.single-product #gallery-1 .gallery-item{
	width: 100%!important;
}
}

.woocommerce-page section.related.products .mk-product-loop .product-loop-thumb {
    height: 270px;
    overflow: hidden
}

#mk-footer {
    text-align: center;
    background-color: #7db3cc;
}

#mk-footer .widget_nav_menu {
    padding-bottom: 40px;
    border-bottom: 1px solid #cecece
}

#mk-footer .widget_nav_menu ul li {
    display: inline;
    text-transform: lowercase
}

#mk-footer .widget_nav_menu ul li a>svg {
    display: none
}

#mk-footer img.aligncenter.size-full {
    width: 330px
}

#mk-footer .widget_nav_menu ul li a {
    padding: 5px 20px
}

#sub-footer .mk-footer-copyright {
    text-align: center;
    float: none
}

#mk-footer .widget_nav_menu ul li.current_page_item a {
    background-color: transparent;
    font-weight: 400;
    color: #4a7d95
}
.mk-product-loop.compact-layout .product-link,
.mk-product-loop .product-hover-image{
    position: absolute;
    top: auto;
    bottom: 0;
}


/* nachi 5-5-2020*/
.woocommerce div.product form.cart .variations .label{
	border: 0;
    padding-bottom: 5px;
    display: block;
}
.woocommerce div.product form.cart .variations .label > label{
	font-size: 15px;
}
.woocommerce div.product form.cart .variations .value,
.woocommerce table.cart td,
.woocommerce .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce .cart-collaterals .cart_totals tr td,
.woocommerce-checkout-review-order-table .cart_item td,
.woocommerce-checkout-review-order-table tfoot tr *,
.woocommerce-table--order-details.order_details tfoot tr *,
.woocommerce-table--order-details.order_details .order_item td{
	border:0;
}
.woocommerce .cart-collaterals .cart_totals table th {
    vertical-align: baseline;
/* 	    padding: 12px; */
}
.master-holder select:not(.gfield_select), .woocommerce select{
	    font-size: 13px;
}
#respond input#submit, #review_form_wrapper input[type=submit], .post-password-form input[type=submit], .woocommerce-product-search button[type=submit], .woocommerce-product-search input[type=submit], .wpcf7-submit, a.button, button.button, input.button{
	font-size: 14px; 
}
.mk-product-loop.compact-layout .product-link,
.woocommerce .mk-product-holder .product-loop-image{
	height: 100%;
}
.woocommerce-cart-form__cart-item  .product-name,
.cart_totals td span{
	font-size: 18px;
}
.variation-NumberofFreeSamples p{
	line-height: 1.6em;
}

@media (max-width: 768px) {
	.img-upper-text h2{
		font-size: 32px !important;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
		margin: 0 !important;
		padding: 0px !important;
	}
	.img-upper-text p{
		font-size: 20px !important;
	}
	.img-upper-text button {
		padding: 10px;
		font-size: 16px;
		max-width: 150px;
		min-width: 150px;
	}
    .footer-forms .gform_footer.top_label {
        /* text-align: center !important; */
    }
    .ol-space-removed .uabb-infobox-content p {
        margin: 0;
        padding: 0 !important;
    }
	.galleryRow > .ImageWrapper{
        flex: 0 0 100%;
        padding: 20px 20px;
    }
    .galleryRow > .imageHolder {
        flex: 0 0 100%;
        padding: 50px 20px;
    }
    .imageHolder .viewFlooring{
        bottom: -58px;
    }
    .static-breadcrums {
        padding: 0 15px;
    }
    .dukemanorfarm .vc_col-sm-6 {
        width: 100% !important;
    }
}
@media (max-width: 767px){
    
}
@media (max-width: 500px){
/* 	div.sa_hover_container {
		min-height: 250px !important;
	} */
		.img-upper-text h2{
			font-size: 18px !important;
			margin-bottom: 5px;
	}
	.img-upper-text p{
		font-size: 14px !important;
		margin-bottom: 10px;
	}
	.img-upper-text button {
		padding: 5px;
		font-size: 11px;
		max-width: 120px;
		min-width: 120px;
	}
	.img-upper-text h2 > br,
	.img-upper-text p > br{
		display: none; 
	}
	.img-upper-text{
		width: 80%;
		margin: 0 auto;
	}
    .vc_separator.vc_sep_pos_align_center.custom-div-h4 h4, .vc_separator.vc_separator_align_left.custom-div-h4 h4{
        text-align: center;
    }
}
